<footer class="footer-main">
  <div class="footer-top">
    <div class="footer-site-name" style="display:flex; align-items:center; justify-content:center; gap:8px; margin-bottom:20px;">
      <img src="https://i.postimg.cc/jqhfJS2v/Background-Eraser-20260624-001249785.png" alt="Sun Logo" style="height:25px; width:auto;">
      <span style="font-size:22px; font-weight:600; color:#c62828;">dailychalchitra.com</span>
    </div>

    <div class="footer-categories">
      <a href="/category/সংবাদ">সংবাদ</a>
      <a href="/category/কিশোর-আলো">কিশোর আলো</a>
      <a href="/category/বিজ্ঞানচিন্তা">বিজ্ঞানচিন্তা</a>
      <a href="/category/চাকরি">চাকরি</a>
      <a href="/category/সাহিত্য">সাহিত্য</a>
      <a href="/category/কবিতা">কবিতা</a>
      <a href="/category/কৌতুক">কৌতুক</a>
      <a href="/category/পরিবেশ">পরিবেশ</a>
      <a href="/category/প্রবাস">প্রবাস</a>
      <a href="/category/অন্যান্য">অন্যান্য</a>
    </div>

    <div class="footer-social">
      <h3 style="font-size:16px; font-weight:400; border-bottom:1px solid #333; display:inline-block; padding-bottom:3px;">অনুসরণ করুন</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/shamimnimu" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/shamimnimu" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@shamimnimu" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/shamim-nimu-a75964406" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://wa.me/96893815016" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <a href="https://t.me/shamimnimu93815016" target="_blank"><i class="fab fa-telegram"></i></a>
        <a href="https://x.com/ShamimnimuP" target="_blank"><i class="fab fa-x-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom-red">
    <div class="footer-links">
      <a href="/about">আমাদের সম্পর্কে</a>
      <a href="#">বিজ্ঞাপন</a>
      <a href="/privacy">নীতি ও শর্ত</a>
      <a href="/contact">যোগাযোগ</a>
    </div>

    <div class="footer-bottom-text">
      <p>২০১৯-২০২৬ © দৈনিক চালচিত্র কর্তৃক সর্বস্বত্ব সংরক্ষিত</p>
      <p>সম্পাদক ও প্রকাশক: <strong>শামীম নিমু</strong></p>
      <p>G-mail: <a href="mailto:nimushamim46@gmail.com">nimushamim46@gmail.com</a></p>
    </div>
  </div>
</footer>
