---
---

.poem {
  white-space: pre-line;
  font-family: 'SolaimanLipi', 'Kalpurush', serif;
  font-size: 18px;
  line-height: 2.1;
  text-align: center;
  margin: 40px auto;
  max-width: 700px;
  padding: 25px;
}

.poem p {
  margin-bottom: 1.8em;
}
.post-content p, 
.post-content {
  white-space: pre-line;
}
